polymer-element(name="tk-element-proto", \attributes="owner color")
	template
		span I'm <b>{{owner}}</b> and my favorite color is 
			span(style="color:{{color}}") {{color}}
	script.
		Polymer('tk-element-proto', {
			
		});